*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*To Box Model*/
}

body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.button__primary{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: #ffff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

 .button__primary:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.container{
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffff;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.15);
}

.navbar__brand{
    width: 100px;
}

.navbar__logo{
    width:100%;
}

.nav__item{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #ffff;
  border: none;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.hero__image__container{
    width: 100%;
    margin-top: 20px;
}

.hero__image{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero__text{
    font-size: 30px;
    margin: 20px 0;
}

.explore__menu__text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.food__card{
   background-color: #fff;
   border-radius: 8px ;
   margin-bottom: 15px;
}

.food__card__image__container{
    width: 100%; 
}

.food__image{
    width: 100% ;
    border-radius: 8px 8px 0 0;
}

.food__card__description{
    padding: 15px;
}

/* Flexxxx */

.restaurant__text{
      font-size: 30px;
      margin-top: 50px;
      margin-bottom: 25px;
      text-align: left;
}

.restaurant__images__container{
    width: 100%;
}

.restaurant__images__row__one, 
.restaurant__images__row__two{
    width: 100%;
    display: flex;
    gap: 8px;
}

.restaurant__images__row__one{
    align-items: baseline;
    margin-bottom: 8px;
}

.restaurant__image__1, 
.restaurant__image__4{
    width: 100%;
    height: 140px;
}

.restaurant__image__2, 
.restaurant__image__3{
    width: 140%;
    height: 220px;
}

.restaurant__1, 
.restaurant__2,
.restaurant__3, 
.restaurant__4{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.text__input__container{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: -100px;
    margin-bottom: 10px;
}

.email__text__input__field{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    margin-bottom: 80px;
}

.text__xl{
    font-size: 25px;
    font-weight: 900;
}

.quote__container{
    max-width: 100%;
    position: relative;
    top: 0;
    right: 0;
     
}

.bg_img_container{
    width: 100%;
}

.bg__img{
    width: 100%;
    background-color: blue;
    opacity: 60%;
}

.quote_image_text{
    width: 100%;
    position: absolute;
    z-index: 3;
    margin-top: -130px;
    text-align: center;
    color: #fff;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 2px 30px;
    }

    .hero__container{
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .explore__menu__lists{
        display: flex;
        gap: 15px;
        margin-top: 40px;
        padding: 0 30px;
    }

    #pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .explore__menu__container{
        margin-top: 50px;
    }

    .explore__menu__view__more{
        display: flex ;
        justify-content: center;
    }

    .explore__menu__container{
        position: relative;
    }

    .explore__menu__gradient__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
          );
          transform: skewY(-5deg);
          z-index: -3;
    }
    .restaurant__container{
        display: flex;
        align-items: center;
        margin-top: 5rem;
    }
    .restaurant__text{
        width: 100%;
        font-size: 40px;
        text-align: left;
    }
    
    .text__input__container{
        margin-top: 100px;
        margin-right: 100px;
    }

    .text__xl{
        font-size: 30px;
    }

    .email__input{
    margin-left: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 170px;
    }

    .bg_img_container{
        height: 300px;
        margin-bottom: 150px;
    }   
    .bg__img{
        height: 400px;
    }
    
    .quote_image_text{
        font-size: 25px;
    }
}
@media (min-width:1080px) {
    body{
        margin-top: -40px;
    }
   .navbar__brand{
       margin-top: 20px;
       margin-bottom: -20px;
   }

   .navbar__nav__items{
      margin-top: 30px;
      margin-bottom: -10px;
    
   }
   
    .container{
        max-width: 1100px;
    }
    .navbar__brand{
        width: 150px;
    }
    .button__primary{
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }
   
    .nav__item{
        padding: 1rem 1.5rem;
        font-size: 1rem ;
    }
    .hero__description{
        width: 100%;
    } 
    .hero__text{
        font-size: 2.7rem;
        font-weight:900;
    }
    .explore__menu__lists{
        gap: 40px;
    }

   .explore__menu__container{
       margin-top: 70px;
   }

    .explore__menu__text{
        font-size: 50px;
    }
    .restaurant__text{
        font-size: 50px;
        width: 100%;
        text-align: left;
    }

    .text__input__container{
        margin-top: 80px;
    }

    .text__xl{
        font-size: 50px;
    }

    .email__input{
        margin-left: 0px;
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 210px;
        }
    
}
    

